.checkbox {
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 1;
}