:root {
  --background-color: #f0f0f0;
  --text-color: #333;
}

.light-theme {
  --background-color: #f0f0f0;
  --text-color: #333;
}

.dark-theme {
  --background-color: #1f1f1f;
  --text-color: #f4f4f4;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}